{% extends "base.html.twig" %}

{% block title %}AppBundle:Library:{% endblock %}

{% block menu %}
{% endblock %}
{% block body %}
    <div class="col-md-8">
        <div class="row">
            {% for book in books %}
                <div class="col-md-6" style="border: 1px solid; padding: 30px">
                    <img style="float: left" height="150" width="150" src="{{ vich_uploader_asset(book, 'imageFile') }}" />
                    <p >{{ book.name }}</p>
                    <p >{{ book.author }}</p>
                    <p style="padding: 5px"><a  type="button" href="#">Получить</a></p>
                    <div style="clear: both"></div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
