{% extends "base.html.twig" %}

{% block title %}AppBundle:Library:{% endblock %}

{% block menu %}
{% endblock %}
{% block body %}

    <h1>{% trans %}Congratulations, Get{% endtrans %}</h1>
    <p>{% trans %}Ticket code{% endtrans %} - {{ code }}</p>
    <a href="{{ path('app_library_index') }}">{% trans %}Go to homepage{% endtrans %}</a>
{% endblock %}
