{% extends "menu.html.twig" %}

{% block title %}AppBundle:Library:{% endblock %}
{% block menu %}

    <div class="row">
        <div class="col-md-6">
            <h1>{% trans %}Literature{% endtrans %}</h1>
            <a href="#">{% trans %}My books{% endtrans %}</a>
        </div>
        <div class="col-md-6">

            <a href="{{ path('app_library_locale', {'_locale':'ru'}) }}">Ru</a>/
            <a href="{{ path('app_library_locale', {'_locale':'en'}) }}">En</a>

            <a href="{{ path('app_library_newlibrarycard') }}">{% trans %}Registration{% endtrans %}</a>
        </div>
    </div>
    <div class="col-md-4">
        <p><a href="{{ path('app_library_index') }}">{% trans %}All books{% endtrans %}</a></p>
        {% for category in categories %}
            <a href="{{ path('app_library_filtrationcategory',{'id' : category.id }) }}"><p>{{ category }}</p></a>
        {% endfor %}
    </div>

    <hr>
{% endblock %}


{% block body %}


    <div class="container">

                <div class="row">
                {% for book in books %}
                        <div class="col-md-6" style="border: 1px solid; padding: 30px">
                            <img style="float: left" height="150" width="150" src="{{ vich_uploader_asset(book, 'imageFile') }}" />
                            <p >{{ book.name }}</p>
                            <p >{{ book.author }}</p>
                            <p style="padding: 5px"><a  type="button" href="#">Получить</a></p>
                            <div style="clear: both"></div>
                        </div>
                {% endfor %}
        </div>
    </div>

{% endblock %}
